<script type="text/template"
        data-route="^payment-received"
        data-process="processPaymentReceivedPage"
        data-title="Payment Received"
        data-template="payment-received-page"
        >
        <div class="container">
          <div class="panel">
            <h1>Payment Received</h1>
            <p>Thank you for your payment. Redirecting to <a href="{{url}}">{{label}}</a> in 5s...</p>
          </div>
        </div>
</script>

<script type="text/template"
        data-route="^account\/services\/?(\?.*)?$"
        data-process="processSubscriptionsPage"
        data-title="Subscriptions"
        data-template="subscriptions-page"
        >
<div class="container services">
  {{>account-return-link}}
  <h1>Manage Subscriptions</h1>
  {{#unless hasSubscriptions}}
  <div class="col-md-12 panel panel-xsolla mb-1 mt-4">
    <p>You have no subscriptions. Subscribe to Monstercat Gold below.
  </div>
  {{/unless}}
  <div class="col-md-12 panel-xsolla panel panel-xsolla-iframe mt-4">
    {{#unless hasSubscriptions}}
      <div class="p-4">
        {{>gold-subscribe-header}}
      </div>
    {{/unless}}
    {{>xsolla-iframe}}
  </div>
</div>
</script>

<script type="text/template"
        data-partial
        data-template="xsolla-iframe">
<div class="xsolla-iframe-container">
  <div class="iframe-loader">
    {{>loading-view}}
  </div>
  <iframe src="{{xsollaIframeSrc}}" frameborder="0" class="xsolla-iframe"></iframe>
</div>
</script>

<script type="text/template"
        data-partial
        data-template="gold-subscribe-form"
        >
<div class="gold-subscribe">
  <div class="col-md-12 panel panel-xsolla mb-1">
    {{>gold-subscribe-header}}
  </div>
  <div class="col-md-12 panel-xsolla panel panel-xsolla-iframe">
    {{#if loading}}
      {{>loading-view}}
    {{else}}
      {{>xsolla-iframe}}
    {{/if}}
  </div>
</div>
</script>

<script type="text/template"
        data-template="gold-subscribe-header"
        data-partial
>
  <h2 class="mb-0">Gold Subscription $5/mo</h2>
  <p>Download songs, get early access, shop discounts, and more. <a href="/gold">Learn more about Gold</a>.</p>
</script>

<script type="text/template"
        data-route="^gold/buy/success"
        transform="transformBuyGoldSuccess"
        data-title="Monstercat Gold">
        <div class="container">
          <div class="panel">
            <h1>Success</h1>
            <p>Your subscription is successful.</p>
          </div>
        </div>
</script>

<script type="text/template"
        data-route="^gold/buy"
        data-process="processGoldBuyPage"
        data-title="Buy Monstercat Gold"
        data-template="gold-buy-page"
        >
  <div class="container">
    {{>gold-subscribe-form}}
  </div>
</script>

<script type="text/template"
        data-route="^gold"
        data-process="processGoldPage"
        data-title="Monstercat Gold"
        data-template="page-gold"
        >
    <div class="top-banner top-banner-gold">
      <div class="banner" style="background-image:url('/img/gold.jpg')"></div>
      <div class="container flex">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-6">
          <h1 id="top">Monstercat Gold</h1>
          <ul class="gold-perks">
            <li><a href="#download-access" onclick="anchorScrollTo(event, this)">Download Monstercat songs in your preferred format</a></li>
            <li><a href="#early-streaming" onclick="anchorScrollTo(event, this)">Early streaming access to new releases</a></li>
            <li><a href="#support-the-artists" onclick="anchorScrollTo(event, this)">Directly support the artists</a></li>
            <li><a href="#shop-discounts" onclick="anchorScrollTo(event, this)">Discounts on Monstercat merch</a></li>
            <li><a href="#discord" onclick="anchorScrollTo(event, this)">and more!</a></li>
          </ul>
          <br />
          {{#if hasGoldAccess}}
          <p>You already have Gold, {{sessionName}}. You're cool.</p>
          {{else}}
          <a class="button button--gold" href="{{getGoldUrl}}" click-action="Click Get Gold" click-label="Gold Landing Header" click-category="Gold">
            Get Gold - $5/mo
          </a>
          {{/if}}
        </div>
      </div>
    </div>
    {{#each featureBlocks}}
      <section class="flex gold-feature-section" id="{{id}}">
          <div class="col-xs-12 col-sm-12 col-md-6 {{^isOdd}}col-md-last {{/isOdd}} article-banner">
              <div class="side-banner" style="background-image: url({{image}});"></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 article-details">
              <div class="article-wrapper {{#if isOdd}}pl-2{{else}}pr-2{{/if}}">
                <h2>{{title}}</h2>
                <p class="description">{{{description}}}</p>
                {{#if discord}}
                  {{>join-gold-discord hasGoldAccess=../hasGoldAccess}}
                {{/if}}
                {{#if download}}
                <p class="description">You can change your preferred download format in <a href="/account#preferred-download">your settings</a>.</p>
                {{/if}}
                {{#if reddit}}
                  {{#if ../hasGoldAccess}}
                    {{#if redditUsername}}
                    <p class="description">Your reddit account: <strong>{{redditUsername}}</strong>. <a href="/account/gold#reddit">Change it</a>.</p>
                    {{else}}
                    <p class="description">You haven't set up your reddit username yet, <a href="/account/gold#reddit">set it here</a>.</p>
                    {{/if}}
                  {{/if}}
                {{/if}}
                {{#unless ../hasGoldAccess}}
                  <a class="button button--gold-light" href="{{../getGoldUrl}}" test-kpi="{{id}}" click-label="{{title}}" click-action="Click Get Gold" click-category="Gold" target="_BLANK">
                    {{cta}} - $5/mo
                  </a>
                {{/unless}}
                <a class="back-to-top" href="#top" onclick="anchorScrollTo(event, this)">back to top</a>
              </div>
          </div>
      </section>
    {{/each}}
    <div class="gold-footer-cta">
      <div class="banner" style="background-image:url(/img/banner.jpg)">
          <div class="banner-shade"></div>
          <div class="gradient gradient--inverted"></div>
      </div>
      <div class="container">
        <div class="button-group-center">
          {{#if hasGoldAccess}}
          <h2>You already have Gold, {{sessionName}}.</h2>
          <p>You're cool.</p>
          {{else}}
          <h2>Be Gold.</h2>
          <a class="button button--gold" href="{{getGoldUrl}}" click-action="Click Get Gold" click-label="Gold Landing Footer" click-category="Gold">Get Gold - $5/mo</a>
          {{/if}}
        </div>
      </div>
    </div>
</script>