<script type="text/html"
        data-route="^account/licenses"
        data-source="$endpoint/self/whitelist"
        data-process="processAccountLicensesPage"
        data-template="account-licenses-page"
        >

<div class="container container--gold">
{{#data}}
<div class="flex">
  <div class="panel col-md-4 col-xs-12 panel--dark col-md-last">
    <h2>Gold Membership</h2>
    
    {{#if hasGoldAccess}}
    <h2 class="pricing pricing--gold">Gold is Active </h2>


    
    <p class="mt-2 mb-2">Any videos uploaded while you have an active Gold subscription will not receive a claim from us.</p>
    {{else}}
    <h2 class="pricing pricing--gold">Not Subscribed</h2> 
    <p class="mb-2">Your Gold subscription has expired However, videos uploaded on or before <strong>Jan 10th 2018</strong> will not receive claims. <a href="" class="pricing pricing--gold">Get gold</a></span> again to protect any new videos.</p>
    {{/if}}

    <p><strong>Membership Benefits:</strong></p>
    <ul class="mb-3">
      <li>Whitelist up to 10 channels</li>
      <li>Unlimited download and streaming access to the Monstercat catalog (800+ full songs)</li>
      <li>Direct support via e-mail and on site.</li>
    </ul>
    {{#if hasGoldAccess}}
    <div class="dropdown">
      <button class="button--gold-light" style="color:#fff">Manage Subscription <i class="fa fa-cog"></i></button>
    <div class="dropdown-content">
        <a href="#">Cancel Subscription</a>
        <a href="#">View Licenses</a>
    </div>
  </div>
    {{else}}
    <a class="button button--gold-light" href="/gold/buy" click-action="Click Get Gold" click-category="Gold" target="_BLANK">
      Get Gold - $5/MO
    </a>
    {{/if}}
  </div>

  <div class="panel col-md-8 col-xs-12">
    <div class="flex">
      <div class="col-sm-6 col-xs-8">
        <h2>Your Licenses</h2>
      </div>
      <div class="col-sm-6 col-xs-4 mb-2" style="text-align: right">
        {{#if hasGoldAccess}}
        <button id="license-add-btn">
          <span class="add-channel">Add Channel</span> <i class="fa fa-plus"></i>
        </button>
        {{else}}
        <button class="button--gold-light">
          <span class="add-channel">Get Gold to Add Licenses</span> <i class="fa fa-plus"></i>
        </button>
        {{/if}}
      </div>
    </div>
    <table class="license-legend mb-3">
      <tr>
        <td style="width:20px"><i class="fa fa-check icon--blue"></i></td>
        <td>Any videos uploaded while Gold is active will not receive a claim from us.</td>
      </tr>
      <tr>
        <td><i class="fa fa-calendar-check-o icon--blue"></i> </td>
        <td>Videos uploaded on or before the date will not receive claims.</td>
      </tr>
      <tr>
        <td><i class="fa fa-exclamation-triangle icon--blue"></i> </td>
        <td> Channel ineligible for whitelist. Check FAQ.</td>
      </tr>
      <tr>
        <td><i class="fa fa-thumbs-o-up icon--blue"></i> </td>
        <td> Free, even without Gold</td>
      </tr>
    </table>
    <div class="license-form" style="margin-top:0px">
      <form onsubmit="submitAddLicense(event, this)">

        <div class="flex">
          <div class="col-sm-3 col-xs-12">
            <select name="vendor" class="license-select">
                <option value="" disabled selected>Platform</option>
                <option value="YouTube">YouTube</option>
                <option value="Twitch">Twitch</option>
                <option value="Beam">Mixer</option>
            </select>
          </div>
          <div class="col-sm-3 col-xs-12">
            <select name="category" class="license-select">
                <option value="" disabled selected>Purpose</option>
                <option value="music">Music Channel</option>
                <option value="business">Business</option>
                <option value="other">Other</option>
            </select>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <input type="text" name="identity" placeholder="Channel ID" class="license-field">      
          </div>
          <div class="col-md-2 col-sm-2 col-xs-12">
            {{>submit-button}}
          </div>
        </div>

      </form>
    </div>

    <table class="license-table mb-3">
      <thead>
          <tr>
            <th style="width:100px">Platform</th>
            <th>Channel ID</th>
            <th>Status</th>
          </tr>
      </thead>
      <tbody>
          {{#if licenses.length}}
            {{#each licenses}}
              <tr>
                <td>{{vendor}}</td>
                <td>{{identity}}</td>
                <td><i class="fa fa-check icon--blue"></i> Good to go</td>
                <td class="push-right text right">
                  <button class="faux button--mobile">
                    <i class="fa fa-copyright"></i>
                  </button>
                  <button class="faux button--mobile">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>

              <tr>
                <td>{{vendor}}</td>
                <td>{{identity}}</td>
                <td><i class="fa fa-calendar-check-o icon--blue"></i> Before Jan 10th 2018</td>
                <td class="push-right text right">
                  <button class="faux button--mobile">
                    <i class="fa fa-copyright"></i>
                  </button>
                  <button class="faux button--mobile">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>

              <tr>
                <td>{{vendor}}</td>
                <td>{{identity}}</td>
                <td><i class="fa fa-exclamation-triangle icon--blue"></i> Ineligible for whitelist</td>
                <td class="push-right text right">
                  <button class="faux button--mobile">
                    <i class="fa fa-copyright"></i>
                  </button>
                  <button class="faux button--mobile">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>

              <tr>
                <td>{{vendor}}</td>
                <td>{{identity}}</td>
                <td><i class="fa fa-thumbs-o-up icon--blue"></i> Good to go</td>
                <td class="push-right text right">
                  <button class="faux button--mobile">
                    <i class="fa fa-copyright"></i>
                  </button>
                  <button class="faux button--mobile">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>

            {{/each}}
            {{else}}
              No Licenses.
            {{/if}}

      </tbody>
    </tablep>
  </div>
{{/data}}
</div>


  <!--<div class="panel">
      <h2>Add a License</h2>
      <form onsubmit="submitAddLicense(event, this)">
      <select name="vendor">
        <option value="Test"> test</option>
        <option value="YouTube">YouTube</option>
        <option value="Twitch">Twitch</option>
        <option value="Beam">Mixer</option>
      </select>
      <div>
        <select name="category">
          <option></option>
          <option value="music">Music Channel</option>
          <option value="business">Business</option>
          <option value="none">None of the above</option>
        </select>
      </div>
      <input type="text" name="identity" />
        {{>submit-button}}
      </form>
    </div>
  -->
  </div>
</script>


